body .container .survey-container {
    font-family: sans-serif;
    margin: 20px;
    line-height: 1.5;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .result {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    background: #f9f9f9;
  }

  .slider-container input{
    width: 100%;
  }

  #survey-container p{
    font-size:12px;
    font-style: italic;
  }

  #survey-container h1{
    font-size: 36px;
    margin-bottom: 4px;
  }

  #survey-container label{
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 20px;
    text-align: center;
  }

  #survey-container button{
    display: block;
  }

  .navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:12px;
  }